body {
    background:#82B0D9; 
    font-family:Arial, Helvetica, sans-serif; 
}

.assignment{
    display:flex; 
    padding:10px; 
    margin:10px;
    background:#558ED9; 
    border-radius: 5px;
}

.assignment img{
    width:200px;
     margin: 10px;
    border: 4px solid #82B0D9;

}
.assignment img:hover{
    border: 4px dashed #8C6B64;
}

h1{
    color:#2D3C59; 
    text-align:center; 
}
h1:hover{
    color: #8C6B64;
}

a{
    text-decoration:none;
    color: #2D3C59;
}

a:hover{
    color: #8C6B64;
}